@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: black;
    color: black;
    margin-right: 5%;
    margin-left: 5%;
    overflow: hidden;
}

header {
    height: 100px;
}

.logo {
    width: 250px;
    position: relative;
    top: 15px;
    left: -45px;
}

.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "date"
        "day"
        "time"
        "timeOfDay"
        "image"; 
}

.bg {
    background-color: #3FD7D7;
    border: 0px solid white;
    text-align: center;
}

.time_bg {
    background-color: #ED8721;
    grid-area: time;
}

.date_bg {
    grid-area: date;
    background-color: rgba(255, 255, 255, 0.2);
}

.day_bg {
    grid-area: day;
    background-color: rgba(255, 255, 255, 0.2);
}

.timeOfDay_bg {
    grid-area: timeOfDay;
}

.image_bg {
    grid-area: image;
    background-image: url(images/space.jpg);
    height: 300px;
}

#earth {
    width: 90px;
    position: relative;
    top: 50px;
    left: -80px;
    animation: 10000ms turn infinite alternate ease-in-out;
}

@keyframes turn {
    0% {
        left: -80px;
    }
    100% {
        left: 80px;
    }
}

h1 {
    font-size: 40px;
    color: white;
    font-weight: 200;
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "date day"
            "time time"
            "timeOfDay timeOfDay"
            "image image"; 
        overflow-x: hidden;
    }
    
    @keyframes turn {
        0% {
            left: -180px;
        }
        100% {
            left: 180px;
        }
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1350px){
    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "time time timeOfDay"
            "date date timeOfDay"
            "day day timeOfDay"
            "image image image";
        overflow-x: hidden;
    }
    
    #timeOfDay {
        margin-top: 140px;
    }
    
    @keyframes turn {
        0% {
            left: -280px;
        }
        100% {
            left: 280px;
        }
    }
}

@media only screen and (min-width: 1351px){
    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "time time timeOfDay"
            "date day timeOfDay"
            "image image image";
        overflow-x: hidden;
    }
    
    #timeOfDay {
        margin-top: 90px;
    }
    
    @keyframes turn {
        0% {
            left: -380px;
        }
        100% {
            left: 380px;
        }
    }
}